body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 2.5rem;
}

.navbar {
  position: absolute; /* Fixed positioning to always keep it at the top */
  width: 100%;
  
  display: flex;
  align-content: space-between;
  justify-content: space-between;

  z-index: 1002; /* Ensure it appears above other content except modal */

}

.button-navbar {
  padding: 7px 20px;
  border-radius: 30px;
  color: black;
  background-color: #fea6b4;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.7rem;
}

.button-navbar:hover {
  background: black;
  color: white;
}

.logo {
  font-size: 1.9rem;
}

.container {
  flex: 1;
  padding-top: 100px; /* Add padding to prevent content from being covered by the fixed navbar */
}

.quiz-section {
  padding: 20px;
  text-align: center;
}

#question {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#question-container {
  margin-bottom: 20px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  padding: 10px;
  background-color: #fea6b4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn.selected {
  background-color: black;
  color: white;
}

.button-quiz, .button-next {
  background-color: #fea6b4;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button-quiz:hover, .button-next:hover {
  background-color: black;
  color: white;
}

.result-container {
  margin-top: 20px;
}

.result-container.hide {
  display: none;
}

.result-image {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

#share-button-container {
  margin-top: 20px;
  text-align: center; 
}

.button-share {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fea6b4;
  color: black;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button-share:hover {
  background-color: black;
  color: white;
}

#share-template {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 1001; /* Ensure it appears above everything except the navbar */
}

.button-share-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #fea6b4;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1005; /* Ensure it is above other elements in the modal */
  font-weight: bold;
  transition: color 0.3s ease;
}



.button-share-close:hover {
  color: black;
}

.share-content {
  position: relative;
  width: 90%;
  max-width: 400px;
  max-height: 600px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95); /* Slightly transparent white */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.share-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
}

.share-image {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  margin: 20px 0;
  object-fit: contain;
}

.share-description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.share-footer {
  width: 100%;
  background-color: #fea6b4;
  padding: 10px 0;
  border-radius: 15px;
}

.share-footer-title {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

.social-share-btn {
  background: #fea6b4; 
  border: 2px solid white; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.social-share-btn:hover {
  transform: scale(1.1); 
  background: #fea6b4; 
}

.social-share-btn i {
  font-size: 1.8rem; 
  color: white; 
}

.share-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}



.hide {
  display: none !important;
}

footer {
  background: #26CCDB;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.button-footer {
  background: #fea6b4;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button-footer:hover {
  background: black;
  color: white;
}
