@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-feather-bold: "Feather Bold", sans-serif;
  --font-din-next-rounded: "DIN Next Rounded", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-din-next-rounded);
}

h1 {
  font-family: var(--font-feather-bold);
}


.font-feather-bold {
  font-family: var(--font-feather-bold);
}


.font-din-next-rounded {
  font-family: var(--font-din-next-rounded);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
